@font-face {
	font-family: 'Roboto-Black';
	src: url('../font/ROTOBO/Roboto-Black.ttf');
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('../font/ROTOBO/Roboto-Bold.ttf');
}
@font-face {
	font-family: 'Roboto-BoldItalic';
	src: url('../font/ROTOBO/Roboto-BoldItalic.ttf');
}
@font-face {
	font-family: 'Roboto-Condensed';
	src: url('../font/ROTOBO/Roboto-Condensed.ttf');
}
@font-face {
	font-family: 'Roboto-Italic';
	src: url('../font/ROTOBO/Roboto-Italic.ttf');
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../font/ROTOBO/Roboto-Light.ttf');
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('../font/ROTOBO/Roboto-Medium.ttf');
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../font/ROTOBO/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Roboto-Thin';
	src: url('../font/ROTOBO/Roboto-Thin.ttf');
}
@font-face {
	font-family: 'Roboto-ThinItalic';
	src: url('../font/ROTOBO/Roboto-ThinItalic.ttf');
}
/* ROBOTO end */


@font-face {
	font-family: 'SystemSanFranciscoTextBold';
	src: url('../font/SanFrancisco/SystemSanFranciscoTextBold.ttf');
}
@font-face {
	font-family: 'SystemSanFranciscoTextHeavy';
	src: url('../font/SanFrancisco/SystemSanFranciscoTextHeavy.ttf');
}
@font-face {
	font-family: 'SystemSanFranciscoTextMedium';
	src: url('../font/SanFrancisco/SystemSanFranciscoTextMedium.ttf');
}
@font-face {
	font-family: 'SystemSanFranciscoTextRegular';
	src: url('../font/SanFrancisco/SystemSanFranciscoTextRegular.ttf');
}
@font-face {
	font-family: 'SystemSanFranciscoTextThin';
	src: url('../font/SanFrancisco/SystemSanFranciscoTextThin.ttf');
}
/* SanFrancisco end */

@font-face {
	font-family: 'SourceHanSansCN-Bold_0';
	src: url('../font/SourceSansPro（思源雅黑）/SourceHanSansCN-Bold_0.otf');
}
@font-face {
	font-family: 'SourceHanSansCN-ExtraLight_0';
	src: url('../font/SourceSansPro（思源雅黑）/SourceHanSansCN-ExtraLight_0.otf');
}
@font-face {
	font-family: 'SourceHanSansCN-Heavy_0';
	src: url('../font/SourceSansPro（思源雅黑）/SourceHanSansCN-Heavy_0.otf');
}
@font-face {
	font-family: 'SourceHanSansCN-Light_0';
	src: url('../font/SourceSansPro（思源雅黑）/SourceHanSansCN-Light_0.otf');
}
@font-face {
	font-family: 'SourceHanSansCN-Medium_0';
	src: url('../font/SourceSansPro（思源雅黑）/SourceHanSansCN-Medium_0.otf');
}
@font-face {
	font-family: 'SourceHanSansCN-Normal_0';
	src: url('../font/SourceSansPro（思源雅黑）/SourceHanSansCN-Normal_0.otf');
}
@font-face {
	font-family: 'SourceHanSansCN-Regular_0';
	src: url('../font/SourceSansPro（思源雅黑）/SourceHanSansCN-Regular_0.otf');
}
/* SourceSansPro（思源雅黑） end */


@font-face {
	font-family: 'PingFangBold';
	src: url('../font/苹方/PingFangBold.ttf');
}
@font-face {
	font-family: 'PingFangExtraLight';
	src: url('../font/苹方/PingFangExtraLight.ttf');
}
@font-face {
	font-family: 'PingFangHeavy';
	src: url('../font/苹方/PingFangHeavy.ttf');
}
@font-face {
	font-family: 'PingFangLight';
	src: url('../font/苹方/PingFangLight.ttf');
}
@font-face {
	font-family: 'PingFangMedium';
	src: url('../font/苹方/PingFangMedium.ttf');
}
@font-face {
	font-family: 'PingFangRegular';
	src: url('../font/苹方/PingFangRegular.ttf');
}
/* 苹方 end */