* {
	margin: 0; 
	padding: 0;
}

ul {
	list-style: none;
}

html, body {
	height: 100%;
	width: 100%;
}
#bigBox {
	width: 1200px;
	margin: 0 auto;
}

/* header end */



#content {
	width: 100%;
	float: left;
	margin-top: 19px;
	background-color: rgb(244, 244, 244);
}
#left {
	float: left;
	margin-left: 111px;
	margin-top: 10px;
	height: 416px;
	line-height: 1.5;
}
#right {
	float: right;
	margin-left: 104px;
	margin-top: 10px;
}
#left div:nth-child(1) {
	
}
#left div:nth-child(2) {
	margin-top: 57px;
}
#left div:nth-child(3) {
	margin-top: 57px;
}

#left .p {
	margin-top: 15px;
	font-size: 16px;
}

#top {
	float: left;
	margin-left: 109px;
	margin-top: 296px;
}
footer {
	float: left;
}

.bg {
	float: left;
	margin-top: 74px;
	background-color: rgb(244, 244, 244);
}